## 1. 화면에 "Hello World"를 출력하라.

In [198]:
print("helloworld")

helloworld

## 2. 화면에 "Monsta X's trespass"를 출력하라. (중간에 '가 포인트)

In [195]:
print('Monsta X\'s trespass')

Monsta X's trespass

## 3. print 함수를 사용하여 3.141592의 값을 출력하라. 단, 출력된 값이 소수점 아래로 두 자리 숫자까지만 표시되도록 하라.

실행 예: 
3.14

In [197]:
pi = 3.141592
print("%.2f" % pi)

3.14

## 4. 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값을 출력하는 프로그램을 작성하라.

실행 예: 
first: 3 second: 4 sum: 7

In [9]:
def sum():
    first = input("first input: ")
    second = input("second input: ")
    return int(first) + int(second)

sum()

first input: 100
second input: 200

300

## 5. 사용자로부터 출력하고자 하는 문자열과 반복 횟수를 4로 입력받았다고 가정해서, 문자열을 반복 횟수(4번)만큼 출력하는 프로그램을 작성하라.

실행 예: 
문자열: hello 반복횟수: 4 "hellohellohellohello"

In [5]:
for i in range(4):
    print("hello", end="")

hellohellohellohello

## 6. 문자열 '720'를 정수형으로 변환하라. 정수 100을 문자열 '100'으로 변환하라.

In [11]:
int("720")
str(100)

'100'

## 7. 사용자로부터 두 개의 숫자를 입력받은 후 두 숫자의 덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지 결과값을 출력하라.

In [12]:
first = int(input("first input: "))
second = int(input("second input: "))

print(first + second)
print(first - second)
print(first * second)
print(first/second)
print(first//second)
print(first%second)

first input: 100
second input: 3
103
97
300
33.333333333333336
33
1

## 8. 사용자로부터 밑과 지수를 입력받은 후 거듭제곱 값을 출력하라.

실행 예: 
밑: 3 지수: 2 3^2 = 9

In [15]:
first = int(input("downie: "))
second = int(input("floppy: "))
print(first**second)

downie: 100
floppy: 2
10000

## 9. 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 나눈 값을 다음 조건에 맞추어 출력하는 프로그램을 작성하라.

format() 함수를 사용해서 출력
단, 나눈 값은 소숫점 첫번째 자리까지만 출력

In [18]:
first = float(input("first input: "))
second = float(input("second input: "))
result = "{third:.1f}"
print(result.format(third = first/second))

first input: 50
second input: 7
7.1

## 10. 210108, 4.3, "fun-coding" 각각을 변수에 넣고, 데이터 타입을 출력하라.

In [199]:
first = 210108
second = 4.3
third = "fun-coding"
print(type(first))
print(type(second))
print(type(third))

<class 'int'>
<class 'float'>
<class 'str'>

## 11. 다음 코드를 실행해보고 \t와 \n의 역할을 설명하라.

In [29]:
code = '000660\n00000102\t12312312'
print(code)

000660
00000102	12312312
3
f	f

\n: go to next line
\t: tab

## 15. 사용자로부터 두 개의 숫자를 입력받은 후 큰 숫자를 화면에 출력하라.

In [31]:
first = int(input())
second = int(input())
if first > second:
    print(first)
elif first < second:
    print(second)

100
5
100

## 16. 사용자로부터 입력받은 숫자가 홀수인지 짝수인지 출력하라.

In [33]:
first = int(input())
if first%2 == 0:
    print(True)
else:
    print(False)

1005
False

## 17. 사용자로부터 세 개의 숫자를 입력받은 후 가장 작은 숫자를 출력하라.

In [42]:
def bubble_Sort(arr):
    m = len(arr)
    for u in range(m):
        for v in range(0, m-u-1):
            if arr[v] > arr[v+1] :
                arr[v], arr[v+1] = arr[v+1], arr[v]
        
numbers1 = int(input())
numbers2 = int(input())
numbers3 = int(input())

array = [numbers1, numbers2, numbers3]
    
bubble_Sort(array)    
print(array[0])

100
2
50
2

## 18. 사용자로부터 점수를 입력받은 후 등급을 출력하라.
(A: 100 ~ 81, B: 80 ~ 61, C: 60 ~ 0)

In [43]:
score = int(input())
if score >= 81 and score <= 100:
    print("A")
elif score >= 61 and score <= 80:
    print("B")
elif score >= 0 and score <= 60:
    print("C")
else:
    print("invalid")

50
C

## 19. 사용자로부터 주민등록번호를 입력받아 출생 연도를 출력하라.

In [47]:
bunho = input("jumin bunho Ssu nuh uu: ")
bunho1 = bunho[:2]
print(bunho1)

jumin bunho Ssu nuh uu: 128012-4804155
12

## 20. 사용자로부터 주민등록번호를 입력받아 뒷자리 맨 앞의 숫자를 출력하라.
(1은 남성, 2는 여성, 세윤군은 3이겠군요..?)

In [49]:
jumin_bunho = input("bunho ne nwa: ")
backJari = jumin_bunho.split("-")[1]
print(backJari[:1])

bunho ne nwa: 102404-12u8490
1

## 21. 사용자로부터 주민등록번호를 입력받아 성별을 '남성' 또는 '여성'으로 출력하라.

In [50]:
jumin_bunho = input("bunho ne nwa: ")
backJari = jumin_bunho.split("-")[1]
gender = (backJari[:1])
if int(gender)%2 == 1:
    print("male")
else:
    print("female")

bunho ne nwa: 120490-6512750
female

## 22. 다음 문자열에서 ...를 제거하라.

In [53]:
mystr = "a man goes into the room..."
mystr.rstrip(".")

'a man goes into the room'

## 23. 주식 종목을 나타내는 종목코드에 공백과 줄바꿈 기호가 포함되어 있다. 공백과 줄바꿈 기호를 제거하고 종목코드만을 추출하라.

In [54]:
stock = '          050812\n           '
stock.strip()

'050812'

## 24. 다음 문자열에서 'Monsta X' 문자열의 빈도수를 출력하라.

In [56]:
monsta_x_wiki = "Monsta X is a South Korean boy group formed through the reality survival program No.Mercy by Starship Entertainment. The group is currently composed of six members: Shownu, Minhyuk, Kihyun, Hyungwon, Joohoney and I.M, with former member Wonho leaving the group in October 2019. The group debuted on May 14, 2015 with their first EP Trespass. In March 2017, Monsta X released their first studio album and final part of The Clan series The Clan Pt. 2.5: The Final Chapter. Since 2018, Monsta X had four Japanese singles certified gold by the Recording Industry Association of Japan. Since 2019, six of their Korean albums had been certified platinum by the Korea Music Content Association. In February 2020, Monsta X's first English album All About Luv ranked number five on the US Billboard 200 and number seven on the US Rolling Stone Top 200. Since debut, Monsta X has been known for their aggressive style, combining elements of hip hop, EDM and pop. This aggressive style with tracks centred around loud, clattering, electronic instrumentals, vicious rap verses and striking vocals has been influential across the fourth generation of K-pop."
monsta_x_wiki.count("Monsta X")

5

## 25. 다음 문자열에서 두번째와 네번째 문자를 출력하라.

In [58]:
name = 'seyun'
print(name[1], name[3])

e u

## 26. 사용자로부터 문자열을 입력받고 문자 x가 들어있는지를 출력하라.

x가 들어있으면 1, 안 들어있으면 0을 출력

In [59]:
stri = input()
if stri.count("x") > 1:
    print(1)
else:
    print(0)

10894080sx x x0801412
1

## 27. 다음 문자열을 ,를 기준으로 분리해서 출력하라.

In [63]:
names = "Shownu, Joohoney, Minhyuk, Kihyun, Hyungwon, IM, Wonho"
name = names.split(",")
for i in range(len(name)):
    print(name[i])

Shownu
 Joohoney
 Minhyuk
 Kihyun
 Hyungwon
 IM
 Wonho

## 28. 다음과 같은 파일 이름(확장자 포함)에서 확장자를 제거한 파일 이름만 출력하라.

In [67]:
filename = 'test01.docx'
filenames = filename.split(".")
print(filenames[0])

test01

## 29. 1 ~ 10까지의 숫자를 for문을 사용하여 모두 더해서 출력하라.

In [71]:
def add(obj):
    result = 0
    for i in range(len(obj)):
        result += obj[i]
    return result
        
print(add(range(1, 11)))

55

## 30. 사용자로부터 2 ~ 9 사이의 숫자를 입력받은 후, 해당 숫자에 대한 구구단을 출력하라.

In [82]:
def nineninearmy(num):
    for i in range(9):
        print(num, " X ", i+1, " = ", num*(i+1))
        
num = int(input())
nineninearmy(num)

434712
434712  X  1  =  434712
434712  X  2  =  869424
434712  X  3  =  1304136
434712  X  4  =  1738848
434712  X  5  =  2173560
434712  X  6  =  2608272
434712  X  7  =  3042984
434712  X  8  =  3477696
434712  X  9  =  3912408

## 31. 사용자로부터 ,로 구분된 여러 이름을 입력받아서 한 줄에 하나씩 이름을 출력하라.

input: Shownu,Joohoney,Minhyuk,Kihyun,Hyungwon,IM,Wonho
output:
Shownu
Joohoney
Minhyuk
Kihyun
Hyungwon
IM
Wonho

In [77]:
strf = input()
strfs = strf.split(",")
for i in range(len(strfs)):
    print(strfs[i], end=" ")

Shownu,Joohoney,Minhyuk,Kihyun,Hyungwon,IM,Wonho
Shownu Joohoney Minhyuk Kihyun Hyungwon IM Wonho

## 32. 사용자로부터 [이름1],[이름2],[이름3]과 같은 형식으로 입력받아서 한 줄에 하나씩 이름을 출력하라.

input: [Shownu],[Joohoney],[Minhyuk],[Kihyun],[Hyungwon],[IM],[Wonho]
output:
Shownu
Joohoney
Minhyuk
Kihyun
Hyungwon
IM
Wonho

In [79]:
name = input()
names = name.split(",")
for i in range(len(names)):
    print(names[i][1:-1], end=" ")

[Shownu],[Joohoney],[Minhyuk],[Kihyun],[Hyungwon],[IM],[Wonho]
Shownu Joohoney Minhyuk Kihyun Hyungwon IM Wonho

## 33. 1부터 30까지의 숫자 중 3의 배수만 출력하라.

In [81]:
nums = range(1, 31)
for i in range(len(nums)):
    if nums[i]%3 == 0:
        print(nums[i])

3
6
9
12
15
18
21
24
27
30

## 34. 1부터 100까지 숫자를 while 문을 사용해서 모두 더한 값을 출력하라.

In [91]:
num = range(1, 101)
checker = False
result = 0
i = 0
while(checker == False):
    result += num[i]
    if num[i] == num[len(num) - 1]:
        checker = True
    else: 
        i = i+1

print(result)

5050

## 35. 사용자로부터 4자리의 숫자로 구성된 데이터를 입력받아서 비밀번호와 같으면 '비밀번호가 맞습니다'를 출력하고 종료하고, 다르면 '비밀번호가 틀렸습니다'를 출력하고 다시 사용자로부터 입력받는 프로그램을 작성하라.

비밀번호는 0928입니다.

In [104]:
35
def confirmer(num):
    if (num == "0928"):
        print('즌하 지당하신 비밀번호이옵니다 성은이 망극하옵니다')
        return True
    else: 
        print('비밀번호가 틀렸어 잡범')
        return False
    
def caller():
    f = input()
    if (confirmer(f)):
        return
    else:
        caller()
        return
    
caller()

1245
비밀번호가 틀렸어 잡범
235
비밀번호가 틀렸어 잡범
1253
비밀번호가 틀렸어 잡범
1590
비밀번호가 틀렸어 잡범
907235
비밀번호가 틀렸어 잡범
25
비밀번호가 틀렸어 잡범
0912
비밀번호가 틀렸어 잡범
0928
즌하 지당하신 비밀번호이옵니다 성은히 망극하옵니다

## 36. 다음 리스트 변수에서 음수 데이터를 삭제하고 양수만 가진 리스트 변수로 만든 후 출력하라.

In [108]:
num_list = [0, -11, 31, 22, -11, 33, -44, -55]
new_list = []
for i in range(len(num_list)):
    if num_list[i] > 0:
        new_list.append(num_list[i])
        
print(new_list)

[31, 22, 33]

## 37. 다음 리스트에 있는 숫자를 역방향으로 한 라인에 하나씩 출력하라.

In [109]:
countdown = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(len(countdown)):
    print(countdown[len(countdown) - i - 1])

10
9
8
7
6
5
4
3
2
1

## 38. 다음 리스트에서 확장자를 제거하고 파일 이름만 출력하라.

In [117]:
file_list = ['ex01.docx', 'ex02.docx', 'ex03.docx', 'ex04.docx', 'ex05.docx']
flist = []
for i in range(len(file_list)):
    flist.append(file_list[i].split(".")[0])
    print(flist[i])

ex01
ex02
ex03
ex04
ex05

## 39. 다음 리스트에서 확장자가 .txt인 파일만 출력하라.

In [120]:
file_list = ['ex01.docx', 'ex02.csv', 'ex03.txt', 'ex04.hwp', 'ex05.rtf']
for i in range(len(file_list)):
    if file_list[i].split(".")[1] == "txt":
        print(file_list[i])

ex03.txt

## 40. 사용자로부터 USD 또는 CAD 금액을 입력받은 후 이를 KRW으로 바꿔서 출력하라.

1 USD = 1204 KRW
1 CAD = 947 KRW

input: 100 USD
output: 120400 KRW

In [125]:
cost = input("how much?\n")

if not " " in cost:
    print("wrong input")
else:
    costs = cost.split(" ")
    if costs[1] == "USD":
        print(int(costs[0]) * 1204, "KRW")
    elif costs[i] == "CAD":
        print(int(costs[0]) * 947, "KRW")
    else:
        print("wrong input")

how much?
100
wrong input

## 41. 통화단위와 원화 환율을 가진 딕셔너리로 만들고 사용자로부터 USD, CAD, EUR을 입력받은 후 이를 KRW으로 바꿔서 계산하라.

1 EUR = 1361 KRW

In [128]:
KRW_hwanuel = {
    "USD": 1204,
    "CAD": 947,
    "EUR": 1361
}

cost = input()

if not " " in cost:
    print("wrong input")
else:
    costs = cost.split(" ")
    print(int(costs[0]) * KRW_hwanuel[costs[1]], "KRW")

400 EUR
544400 KRW

## 42. 구구단을 2단부터 9단까지 출력하라.

In [131]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i, "X", j, "=", i*j)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

## 43. 구구단을 2단부터 9단까지 출력하되, 계산 값이 홀수인 경우만 출력하라.

In [132]:
for i in range(2, 10):
    for j in range(1, 10):
        if (i*j)%2 == 1:
            print(i, "X", j, "=", i*j)

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27
5 X 1 = 5
5 X 3 = 15
5 X 5 = 25
5 X 7 = 35
5 X 9 = 45
7 X 1 = 7
7 X 3 = 21
7 X 5 = 35
7 X 7 = 49
7 X 9 = 63
9 X 1 = 9
9 X 3 = 27
9 X 5 = 45
9 X 7 = 63
9 X 9 = 81

## 44. 주소를 다음의 두가지 변수 리스트를 사용해서 출력하라.

example: 13-2358

In [134]:
units = ["11", "12", "13"]
streets = ["2358", "2359"]
for i in range(len(units)):
    for j in range(len(streets)):
        print(f'{units[i]}-{streets[j]}')

11-2358
11-2359
12-2358
12-2359
13-2358
13-2359

## 45. a, b, c, d, e를 저장하는 튜플을 만들고 첫번째와 마지막 값을 출력하라.

In [138]:
tup = ("a","b","c","d","e")
print(tup[0] + tup[len(tup) - 1])

ae

## 46. 다음 코드를 실행해보고 에러가 나는 이유를 설명하라.

In [ ]:
bias = ('shownu', 'joohoney')
bias[1] = '1hunnit'

tuple is 불변 object
can't be changed

## 47. 다음 코드에서 최종적으로 var1과 var2의 값이 어떻게 될지 확인해보고, 왜 이렇게 동작하는지 튜플을 기반으로 설명하라.

In [ ]:
var1, var2 = 1, 2
var1, var2 = var2, var1

2, 1. var1, var2 = 1,2라는 튜플을 만들면 각각에 1과 2가 저장된다. 그후에 다시 var1, var2 = 2, 1 이라고 다시 튜플을 만들었기 때문에 각각이 바뀐다.

## 48. 다음 튜플에서 두번째부터 마지막까지 출력하라.

In [141]:
titles = ('trespass', 'rush', 'hero', 'dramarama', 'alligator', 'shoot out', 'love killa', 'fantasia', 'gambler')
print(titles[1:len(titles)])

('rush', 'hero', 'dramarama', 'alligator', 'shoot out', 'love killa', 'fantasia', 'gambler')

## 49. 위의 튜플을 리스트로 변환한 후에 'rush hour'를 마지막에 추가하고, 다시 튜플로 변환하라.

In [145]:
def tuple_list(tuples):
    result = []
    for i in range(len(tuples)):
        result.append(tuples[i])
    return result


titles = ('trespass', 'rush', 'hero', 'dramarama', 'alligator', 'shoot out', 'love killa', 'fantasia', 'gambler')
title = tuple_list(titles)
title.append("rush hour")
print(tuple(title))

('trespass', 'rush', 'hero', 'dramarama', 'alligator', 'shoot out', 'love killa', 'fantasia', 'gambler', 'rush hour')

## 50. 비어 있는 튜플, 리스트, 딕셔너리 변수를 하나씩 만들고 타입을 출력하라.

In [146]:
tup = ()
lis = []
dic = {}

print(type(tup), type(lis), type(dic))

<class 'tuple'> <class 'list'> <class 'dict'>

## 51. key에 단어, value에 의미를 가진 딕셔너리 변수를 만들고, 각각을 분리시킨 리스트 변수를 출력하라.

monsta_x: 현대언어
harry_potter: 프로그래머
melissa: 모나미
seyun: 슬리데린

In [153]:
dicVariable = {
    "monsta_x": "현대언어",
    "harry_potter": "프로그래머",
    "melissa": "모나미",
    "seyun": "슬리데린"
}

def inhencedfor(obj):
    result = []
    for ob in obj:
        result.append(ob)
    return result

k = inhencedfor(dicVariable.keys())
v = inhencedfor(dicVariable.values())

print(k, v)

['monsta_x', 'harry_potter', 'melissa', 'seyun'] ['현대언어', '프로그래머', '모나미', '슬리데린']

## 52. 위의 딕셔너리에서 value를 의미와 외움표시 두 데이터로 바꾸고 외움표시가 X인 단어만 출력하라.

monsta_x: 현대언어, O
harry_potter: 프로그래머, O
melissa: 모나미, O
seyun: 슬리데린, X

In [156]:
dicVar = {
    "monsta_x": ("현대언어", "O"),
    "harry_potter": ("프로그래머", "O"),
    "melissa": ("모나미", "O"),
    "seyun": ("슬리데린", "X")
}
for dic in dicVar.items():
    if dic[1][1] == "X":
        print(dic[0])

seyun

## 53. 위의 딕셔너리에서 사용자로부터 영어단어를 입력받으면 해당 영어단어의 외움표시를 O으로 수정하고, 외움표시가 X인 단어만 출력하라.

In [173]:
dicVar = {
    "monsta_x": ["현대언어", "O"],
    "harry_potter": ["프로그래머", "O"],
    "melissa": ["모나미", "O"],
    "seyun": ["슬리데린", "X"]
}

user = input("영단어: ")

for dic in dicVar.items():
    if dic[0] == user:
        dic[1][1] = "O"
        
    if dic[1][1] == "X":
        print(dic[0])

영단어: f
seyun

## 54. 다음의 dict_base, dict_2, dict_host가 있을 때, dict1과 dict2를 dict_all에 추가한 후, dict_all을 출력하라.

In [179]:
dict_base = {'dia': '다희', 'hyeina': '혜영'}
dict_2 = {'melly': '향원'}
dict_host = {'ellie': '엘리', 'seyun': '세윤'}
for dat in dict_base.keys():
    dict_host[dat] = dict_base[dat]
for dat in dict_2.keys():
    dict_host[dat] = dict_2[dat]
        
print(dict_host)

{'ellie': '엘리', 'seyun': '세윤', 'dia': '다희', 'hyeina': '혜영', 'melly': '향원'}

## 55. 다음의 딕셔너리에서 dob와 nickname 정보를 출력하라.

In [189]:
artist_info = {
    'artist_details': {
        'dob': '1992-06-18', 
        'gender': 'male', 
        'role': ['main dancer', 'lead vocal']
    },
    'artist_name': 'shownu',
    'nickname': 'bear'
}

print(artist_info['artist_details']['dob'])
print(artist_info['artist_details']['gender'])

1992-06-18
male

## 56. 다음 리스트에서 중복 숫자를 제거하고 출력하라.

In [194]:
number_list = [1, 9, 9, 2, 0, 6, 1, 8, 2, 0, 1, 5, 0, 5, 1, 4]
result = set()
for data in number_list:
    result.add(data)

for res in result:
    print(res)

{0, 1, 2, 4, 5, 6, 8, 9}
0
1
2
4
5
6
8
9